.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__member-list
        Member：
        - @group.users.each do |user|
          = user.name



    .main-header__edit-btn
      = link_to "Edit", edit_group_path(@group)

      -#  = link_to edit_group_path("Edit") do
          
      

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__space', placeholder: 'type a message'
      .form__space__new-image
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'image-icon')
          = f.file_field :image, class: 'input-box__image'
      = f.submit 'Send', class: 'form__send-btn'
